.hover {
  display: block;
  position: absolute;
  background: rgba(10, 190, 200, 0.1);
  width: 70%;
  height: 100%;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 8;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px auto 40px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  row-gap: 30px;
}

header .burger {
  display: none;
}

header #light-shift {
  margin: auto;
}

header #title {
  margin: auto 0;
}

header #log {
  margin: auto 0;
  text-align: end;
}

header #log a {
  color: #fff;
  background-color: #307cff;
  font-size: 18px;
  text-decoration: none;
  padding: 5px 25px;
  font-weight: bold;
}

header #top-nav {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  list-style-type: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

header #top-nav a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

header #top-nav a:hover {
  text-decoration: none;
  color: #307cff;
}

header #top-nav a:focus {
  text-decoration: none;
  color: none;
}

header #top-nav a:active {
  text-decoration: none;
  color: teal;
}

header #top-nav a:visited {
  text-decoration: none;
  color: none;
}

header #search {
  -ms-grid-column: 3;
  grid-column-start: 3;
}

header #search .field {
  padding: 5px 10px;
  border: 1px solid #307cff;
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
}

header #search input {
  font-size: 1.5em;
  font-font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  width: 80%;
}

header #search input:focus {
  outline: none;
}

header #search input[type="search"]::-webkit-search-decoration,
header #search input[type="search"]::-webkit-search-cancel-button,
header #search input[type="search"]::-webkit-search-results-button,
header #search input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@media screen and (max-width: 1260px) {
  #log {
    -ms-grid-row: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-column: 2;
    grid-column-start: 2;
    text-align: center;
  }
}

footer {
  background-color: #f9f9f9;
  padding: 20px 0;
  margin: auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

footer > * {
  margin: 20px 0;
}

footer .tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

footer .tree a {
  color: #000;
  text-decoration: none;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

* {
  margin: 0;
  padding: 0;
}

.hover {
  display: block;
  position: absolute;
  background: rgba(10, 190, 200, 0.1);
  width: 70%;
  height: 10000px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 8;
}

.cover {
  width: 100%;
  height: 735px;
  padding-top: initial;
}

.cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

h2 {
  font-size: 44px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

section {
  min-height: 700px;
  background-color: #f9f9f9;
  padding: 60px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

.update {
  background-color: #f9f9f9;
}

.update .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-image img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  min-width: 10%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  -webkit-box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.1s ease-in-out,
    -webkit-box-shadow 0.1s;
  transition: -webkit-transform 0.1s ease-in-out, -webkit-box-shadow 0.1s;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s,
    -webkit-transform 0.1s ease-in-out, -webkit-box-shadow 0.1s;
}

.card:hover {
  -webkit-transform: translateY(-0.5rem) scale(1.0125);
  transform: translateY(-0.5rem) scale(1.0125);
  -webkit-box-shadow: 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description > h3 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}

.suggestion {
  background: #ebebeb;
}

.suggestion ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  max-width: 1000px;
}

.top-artist {
  background: #f9f9f9;
  font-weight: bold;
}

.top-artist .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 60px auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 1000px;
}

.top-artist a {
  color: #307cff;
  text-decoration: none;
}

.artist {
  -webkit-transition: -webkit-transform 0.1s ease-in-out,
    -webkit-box-shadow 0.1s;
  transition: -webkit-transform 0.1s ease-in-out, -webkit-box-shadow 0.1s;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s,
    -webkit-transform 0.1s ease-in-out, -webkit-box-shadow 0.1s;
}

.artist .bubble {
  position: relative;
  max-width: 250px;
  width: 250px;
  max-height: 250px;
  height: 250px;
  background-color: #000;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
}

.artist .bubble img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
}

.artist p {
  margin: 10px;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
}

.artist .artist:hover {
  -webkit-transform: translateY(-0.5rem) scale(1.0125);
  transform: translateY(-0.5rem) scale(1.0125);
  -webkit-box-shadow: 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.color-spread {
  background: #ebebeb;
}

.color-spread .spread {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
  grid-template-columns: 20% 80%;
  margin: 50px auto;
  width: 50%;
  height: 200px;
}

.color-spread .spread .artist {
  display: block;
}

.color-spread .spread .artist p {
  padding: 20px;
  font-size: 18px;
}

.color-spread .spread .bubble {
  max-width: 100px;
  width: 100px;
  max-height: 100px;
  height: 100px;
}

.color-spread .spread .bubble img {
  width: 100px;
  height: 100px;
}

.color-spread img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.1s ease-in-out,
    -webkit-box-shadow 0.1s;
  transition: -webkit-transform 0.1s ease-in-out, -webkit-box-shadow 0.1s;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s,
    -webkit-transform 0.1s ease-in-out, -webkit-box-shadow 0.1s;
}

.color-spread img:hover {
  -webkit-box-shadow: 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-0.5rem) scale(1.0125);
  transform: translateY(-0.5rem) scale(1.0125);
}

.images {
  background: #f9f9f9;
}

.images .container {
  display: -ms-grid;
  display: grid;
  width: 60%;
  margin: 60px auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.images img {
  border-radius: 10px;
  margin: 10px 20px;
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.manhwa {
  background: #ebebeb;
}

.manhwa ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  max-width: 1000px;
}
/*# sourceMappingURL=index.css.map */
